version: '3'

services:
  web:
    user: "node"
    working_dir: /home/node
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/home/node
    expose:
      - 3000
    ports:
      - 3000:3000